<div class="bingo-card" data-user-id=<%= current_user.id %>>
  <%= image_pack_tag 'bingo_card_template.png' %>
  <% card.numbers.each do |number| %>
    <% if number.value %>
      <span class="number number-x-<%= number.column %> number-y-<%= number.row %>"><%= number.value %></span>
      <%= image_pack_tag 'mark_batsu.png', class: "number-open open-x-#{number.column} open-y-#{number.row} open-#{number.value}" + (number.open ? "" : " number-not-open") %>
    <% end %>
  <% end %>
</div>
