りーだー:<%= @board.leader.name %><br>
<% @board.cards.each do |card| %>
<% end %>

<p>players</p>
<ul>
  <% @board.cards.each do |card| %>
    <% if card.ready %>
      <li><%= card.user.name %>
        <span style="color: Green;">
        <i class="fas fa-check"></i>
          </span>
      </li>
    <% else %>
      <li><%= card.user.name %>
        <span style="color: Red;">
        <i class="fas fa-check"></i>
          </span>
      </li>
    <% end %>
  <% end %>
</ul>

<% @board.cards.each do |card| %>
  <h2><%= card.user.name %>のカード</h2>
  <%= render 'card', card: card %>
<% end %>


<%= form_with(url: boards_join_path(@board), method: :post) do |form| %>
  <%= form.hidden_field :keyword, value: @board.keyword %>


  <% @board.cards.each do |card| %>
    <% if p card.ready %>
      <%= form.hidden_field :ready, value: "false" %>
      <%= button_tag type: 'submit', class: "btn-floating btn-large waves-effect waves-light red", id: "ready-button" do %>
        <i class="fas fa-check"></i>
      <% end %>
    <% else %>
      <%= form.hidden_field :ready, value: "true" %>
      <%= button_tag type: 'submit', class: "btn-floating btn-large waves-effect waves-light green", id: "ready-button" do %>
        <i class="fas fa-check"></i>
      <% end %>
    <% end %>
  <% end %>
<% end %>



<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
