<h1>フェーズ: <%= @board.phase %></h1>

りーだー:<%= @board.leader.name %><br>

<p>players</p>
<ul>
  <% @board.cards.each do |card| %>
    <% if card.ready %>
      <li><%= card.user.name %>
        <span style="color: green;" class="ready-check" id = user_id<%=card.user.id %>>
        <i class="fas fa-check"></i>
          </span>
      </li>
    <% else %>
      <li><%= card.user.name %>
        <span style="color: red;" class="ready-check" id = user_id<%=card.user.id %>>
        <i class="fas fa-check"></i>
          </span>
      </li>
    <% end %>
  <% end %>
</ul>

<% @board.cards.each do |card| %>
  <h2><%= card.user.name %>のカード</h2>
  <%= render 'card', card: card %>
<% end %>

<% if @board.cards.find_by(user_id: current_user.id).ready %>
  <%= button_tag class: "btn-floating btn-large waves-effect waves-light red", id: "ready-button" do %>
    <i class="fas fa-check"></i>
  <% end %>
<% else %>
  <%= button_tag class: "btn-floating btn-large waves-effect waves-light green", id: "ready-button" do %>
    <i class="fas fa-check"></i>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
