<p id="board-id" style="display: none"><%= @board.id %></p>

<h1>フェーズ: <span id="phase"><%= @board.phase %></span></h1>

りーだー:<%= @board.leader.name %><br>

<p>players</p>
<ul>
  <% @board.cards.each do |card| %>
    <% if card.ready %>
      <li><%= card.user.name %>
        <span style="color: green;" class="ready-check" id="user_id<%= card.user.id %>">
        <i class="fas fa-check"></i>
          </span>
      </li>
    <% else %>
      <li><%= card.user.name %>
        <span style="color: red;" class="ready-check" id="user_id<%= card.user.id %>">
        <i class="fas fa-check"></i>
          </span>
      </li>
    <% end %>
  <% end %>
</ul>

<div class="center-align">
  <% @board.cards.each do |card| %>
    <div style="display: inline-block">
      <h5><%= card.user == current_user ? 'あなた' : card.user.name %>のカード</h5>
      <%= render 'card', card: card %>
    </div>
  <% end %>
</div>

<% if @board.cards.find_by(user_id: current_user.id).ready %>
  <%= button_tag class: "btn-floating btn-large waves-effect waves-light red", id: "ready-button" do %>
    <i class="fas fa-check"></i>
  <% end %>
<% else %>
  <%= button_tag class: "btn-floating btn-large waves-effect waves-light green", id: "ready-button" do %>
    <i class="fas fa-check"></i>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
