<!DOCTYPE html>
<html>
  <head>
    <title>RailsBingo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <% if current_user %>
        <li><%= current_user.name %>さん</li>
        <li><%= link_to 'アカウント編集', edit_user_registration_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'アカウント登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>
    </ul>
    <% if flash[:notice] %>
      <p style="color: darkblue"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p style="color: orangered"><%= flash[:alert] %></p>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
